.tableContainer {
  overflow-x: auto;
}

.borderedTable {
  border-collapse: collapse;
}

.borderedTable th,
.borderedTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.borderedTable th {
  padding-top: 12px;
  padding-bottom: 12px;
}

.rpcUrl{
  max-width: 100px;
  word-wrap: break-word;
}
