.tableContainer {
  overflow-x: auto;
}

.borderedTable {
  border-collapse: collapse;
}

.borderedTable th,
.borderedTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.borderedTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #f2f2f2;
  color: black;
}

.table-hoverable tr:hover {
  background-color: #f5f5f5;
}


